*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --black-color: #000;
    --white-color: #fff;
    --primary-color: #a460f9;
    --second-color: #252525;
    --text-color: #f2f2f2;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: var(--black-color);
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Krub', sans-serif;
}
h6{
    font-weight: 600;
}
a, .nav-link{
    color: var(--text-color);
}
a:hover,
.nav-link:hover{
    color: var(--primary-color);
}
p{
    margin: 0;
    padding: 0;
}

/* HEADER */
#header .navbar-brand{
    flex: 1;
}
#header .menu{
    justify-content: space-between;
    flex: 2;
}
#header .navbar-nav{
    width: 100%;
    justify-content: space-between;
}
#header .nav-link:last-child{
    background: var(--text-color);
    color: var(--second-color);
    padding: 8px 24px;
    border-radius: 4px;
}

/* BANNER */
.banner{
    position: relative;
    margin-top: 80px;
}
.banner__left{
    position: absolute;
    left: 5%;
    top: 0%;
    transform: translate(-5%, 0%);
}
.banner__left h1{
    font-size: 5rem;
}
.banner__left-dot{
    color: var(--primary-color);
}
.banner__left__text{
    transform: rotate(-90deg) translate(-50%, -100%);
    position: absolute;
    left: -20%;
    top: 100%;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}
.banner__right{
    position: absolute;
    right: 0px;
    top: 0%;
    border: 1px solid var(--text-color);
    padding: 8px 24px;
    text-transform: uppercase;
    border-right: none;
    transform: translate(0, 0%);
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__left,
.slider__center,
.slider__right{
    flex: 1;
}
.slider__left{
    position: relative;
    left: 15%;
    transform: translate(-15%);
}
.slider__left h6::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--text-color);
    left: -5%;
    top: 10%;
    transform: translate(5%, -10%);
}
.slider__right__groupBtn{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.groupBtn--start{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.groupBtn--readMore{
    color: var(--text-color);
}